<html>
  
    <head>
      <link rel="stylesheet" href="/css/style.css">
   
    </head>
    <body>
      <div class="min-content">
         {{> headers}}
        <form>
          <input placeholder="Location">
          <button>Search</button>
        </form>
          {{> headers}}
   
      </div>
    {{> footer}}
     <script src="js/app.js"></script> 
  </body>
</html>